body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#name{
    color: #FFA500;
}
.flexable-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(#f55134, #f8a182);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
    
}
.Experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.Experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
}
#web-border1{
    border-image: linear-gradient(#F97960, #f3673d) 30;
}
#web-border2{
    border-image: linear-gradient(#520ad8, #21c1f1) 30;
}
footer{
    text-align: center;
    margin-top: 100px;
}